<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.15.4/css/all.min.css}" />
</head>
<body>
	<nav th:replace="index :: navbar"></nav>
	<div class="container">
	<h2><i class="fas fa-list" ></i><span th:text="' '+${titulo}"></span></h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Telefono</th>
				<th scope="col">Nacimiento</th>
				<th scope="col">Cargo</th>
				<th scope="col">Salario</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="empleado, c: ${empleados}">
				<th scope="row" th:text="${c.count}"></th>
				<td th:text="${empleado.nombre}"></td> 
				<td th:text="${empleado.apellido}"></td> 
				<td th:text="${empleado.telefono}"></td> 
				<td>[[${#calendars.format(empleado.nacimiento,'dd-MM-yyyy')}]]</td>
				<td th:text="${empleado.cargo}"></td>
				<td>[[${#numbers.formatDecimal(empleado.salario,3,'POINT',0,'COMMA')}]]<span> Gs.</span></td>
				<td><a class="btn btn-warning" th:href="@{/form/} + ${empleado.id}"><i class="fas fa-edit"></i></a></td>
				<td><a class="btn btn-danger" th:href="@{/eliminar/} + ${empleado.id}" onclick="return confirm('Eliminar! \nEstas seguro?');"><i class="fas fa-trash-alt"></i></a></td>
			</tr>
		</tbody>
	</table>
	</div>
</html>